@{
    ViewData["Title"] = "DISEÑAMOS PAGINAS WEB";
    Layout = null;
}
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/WebApp.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
<h1>@ViewData["Title"]</h1>
<img src="https://th.bing.com/th/id/R.c884ce98cf1bb44af3c4503b09ce1e0d?rik=4BOcWumBFwBQ5g&riu=http%3a%2f%2fwww.publicdomainpictures.net%2fpictures%2f130000%2fvelka%2frainbow-background-1438899140wt8.jpg&ehk=Vehx%2beG3mjdJf%2fKVwpWllfhhHuybmpn2ZFPN4uiWmsM%3d&risl=&pid=ImgRaw&r=0" class="bg-image1" alt="Alternate Text" />
    <div class="d-grid d-sm-flex justify-content-sm-center">
        <p>LLAMANOS AL 33410298309840192.</p>
        <img src="https://www.fightersgeneration.com/nf5/char/hulk-mvc-versus-screen-artwork.png" alt="Alternate Text" />
        <a class="btn-dark" asp-controller="Home" asp-action="Index">Regresar</a>
    </div>
 </body>
 </html>