@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}
<div class=" user-select-none container-fluid" style="margin-top:6%">
    <div class="px-4 text-center">
        <img src="https://cdn0.iconfinder.com/data/icons/shift-free/32/Error-128.png" class="mb-2 fa-2xl d-block mx-auto"></img>
    <h1 class="display-5 text-danger">Error</h1>
    <h2 class="text-danger">Ocurrió un error al procesar tu transacción.</h2>
        @if (Model.ShowRequestId)
        {
            <p>
                <strong>Request ID: </strong> <strong class="text-danger">@Model.RequestId</strong>
            </p>
        }
        </div>
    <div class="container-sm mt-xl-5 gap-2 text-center">
        <a class="btn btn-md btn-secondary mx-1" type="button" asp-controller="Home" asp-action="Index"><i class="fa-solid fa-arrow-left"></i><span style="padding-left: 5px;">Volver</span></a>
        <a class="btn btn-md btn-secondary mx-1" type="button" asp-controller="Home" asp-action="SignOut"><i class="fa-solid fa-arrow-right-from-bracket"></i><span style="padding-left: 10px;">Cerrar Sesión</span></a>
    </div>
</div>
