@model WebApp.Models.ViewModels.RegisterViewModel

@{
    Layout = null; // Esta línea evita que esta vista use el layout predeterminado
}

<!DOCTYPE html>
<html data-bs-theme="dark">
<head>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>@ViewData["Title"] - WebApp</title>
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
        <link rel="stylesheet" href="~/css/loginStyle.css" />
        <link rel="stylesheet" href="~/WebApp.styles.css" asp-append-version="true" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    </head>
</head>
<body class="user-select-none">
    <img class="bg-image " src="https://images.unsplash.com/photo-1619642751034-765dfdf7c58e?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="Bg image" />
    <section>
        <div class="logo pe-none">
            <img src="~/css/logo mersh.png" alt="Logo Mersh Mecanica" />

        </div>
        <div class="d-flex justify-content-center align-items-center">
            <div class="contenedor shadow-lg">
                <div class="formulario">
                    <div class="card-header">
                        <h2>Registrarse</h2>
                    </div>
                    <div class="card-body">
                        <form asp-action="Register" method="post">
                            <div class="form-group">
                                <i class="fa-solid fa-envelope"></i>
                                <input asp-for="Username" required />
                                <label asp-for="Username">Usuario</label>
                                <span asp-validation-for="Username" class="text-danger"></span>
                            </div>
                            @if (ViewData["ExistUser"] != null)
                            {
                                <div class="alert alert-danger mt-2" role="alert">
                                    @ViewData["ExistUser"]
                                </div>
                            }
                            <div class="form-group">
                                <i class="fa-solid fa-lock"></i>
                                <input asp-for="Password" type="password" required />
                                <label asp-for="Password">Contraseña</label>
                                <span asp-validation-for="Password" class="text-danger"></span>
                            </div>
                            <div class="form-group mb-2">
                                <i class="fa-solid fa-lock"></i>
                                <input asp-for="ConfirmPassword" type="password" required />
                                <label asp-for="Password">Confirmar contraseña </label>
                                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>


                            </div>
                            <div class="d-grid gap-2 mb-3 my-4">
                                <button id="Registrar" type="submit" class="btn btn-secondary">Registrase</button>
                            </div>
                            ¿Ya tiene un usuario? <a asp-controller="Account" asp-action="Login">Iniciar Sesion</a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>

    @section Scripts {
        @{
            await Html.RenderPartialAsync("_ValidationScriptsPartial");
        }
    }

</body>
</html>