@model WebApp.Models.ViewModels.RegisterViewModel

@{
    Layout = null; // Esta línea evita que esta vista use el layout predeterminado
}

<!DOCTYPE html>
<html data-bs-theme="dark">
<head>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>@ViewData["Title"] - WebApp</title>
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
        <link rel="stylesheet" href="~/css/IniciarSesion.css" asp-append-version="true" />

        <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/WebApp.styles.css" asp-append-version="true" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    </head>
</head>
<body>
    <div>
        <header>
            <img class="Imagen-arriba" src="https://i.imgur.com/Sq5FRZ1.png" alt="Logo del taller">
        </header>
    </div>
    <div id="CAJAINICIAR">
        <div class="col-sm-4">
            <div class="card">
                <div class="card-header">
                    <h2>Registrarse</h2>
                </div>
                <div class="card-body">
                    <form asp-action="Register" method="post">
                        <div class="form-group">
                            <label asp-for="Username">Usuario</label>
                            <input asp-for="Username" class="form-control" />
                            <span asp-validation-for="Username" class="text-danger"></span>
                        </div>
                        @if (ViewData["ExistUser"] != null)
                        {
                            <div class="alert alert-danger mt-2" role="alert">
                                @ViewData["ExistUser"]
                            </div>
                        }
                        <div class="form-group">
                            <label asp-for="Password">Contraseña</label>
                            <input asp-for="Password" type="password" class="form-control" />
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>
                        <div class="form-group mb-2">
                            <label asp-for="ConfirmPassword">Confirmar contraseña</label>
                            <input asp-for="ConfirmPassword" type="password" class="form-control" />
                            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                        </div>
                        <div class="d-grid gap-2 mb-3 my-4">
                            <button type="submit" class="btn btn-outline-primary">Registrase</button>
                        </div>
                        ¿Ya tiene un usuario? <a asp-controller="Account" asp-action="Login">Iniciar Sesion</a>
                    </form>
                </div>
            </div>
        </div>
    </div>

    @section Scripts {
        @{
            await Html.RenderPartialAsync("_ValidationScriptsPartial");
        }
    }
    <footer>
        <img class="Imagen-footer" src="https://i.imgur.com/TGcCobS.png" alt="Imagen del footer">
    </footer>
    <foooter><p class="Mecanica-merch">&copy; 2024 - MecanicaMersch</p></foooter>

</body>
</html>