@model WebApp.Models.ViewModels.CompraVM
@{
    ViewData["Title"] = "Registrar compra";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>REGISTRO DE COMPRA</h1>

<div class="row" style="margin-top:30px">
    <div class="col-sm-12">

        <form asp-action="Create" asp-controller="Compra" method="post">

            <div class="mb-2">
                <label class="form-label" asp-for="@Model.CompraLista.">Producto</label>
                @Html.DropDownListFor(model => model._Producto.ProductoId, new SelectList(Model.ProductoLista, "ProductoId", "Nombre"), "Seleccione un producto", new { @class = "form-control form-control-sm" })
            </div>

            <div class="mb-2">
                <label class="form-label" asp-for="@Model.CompraLista.">Cantidad</label>
                <input class="form-control form-control-sm" asp-for="Cantidad" type="number" min="0" max="50000" />
            </div>



        </form>

    </div>
</div>
