@model WebApp.Models.ViewModels.VentaVM
@{
    ViewData["Title"] = "Registrar Venta";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Registrar Venta</h1>

<div class="row">
    <div class="col-sm-4">

        <form asp-action="Create" asp-controller="Venta" method="post">

            
            

           @*  <div class="mb-2">
                <label class="form-label" asp-for="@Model.VentaLista.">Cantidad</label>
                <input class="form-control form-control-sm" asp-for="Cantidad" type="text" />
            </div>  *@           

            

        </form>

    </div>
</div>
