@model WebApp.Models.ViewModels.VentaVM
@{
    ViewData["Title"] = "Registrar Venta";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Bienvenido a la sección de Ventas</h1>

<a class="btn btn-primary" asp-controller="Venta" asp-action="Create">Nueva Venta</a>


<hr>
<ul>
    
    <table class="table">
        <thead>
            <tr>
                <th scope="col">VentaID</th>
                <th scope="col">Fecha</th>
                <th scope="col">Producto</th>
                <th scope="col">Cantidad</th>             
            </tr>
        </thead>
        @foreach (var v in Model.VentaLista)
        {
            <tbody>
                <tr>       
                    <td>@v.VentaId</td>
                    <td>@v.Fecha</td>
                    <td>@v.Producto.Nombre</td>
                    <td>@v.Cantidad</td>                
            </tbody>
        }
    </table>


</ul>